# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.ruff_cache/

# Envs
.venv/
venv/
env/

# Notebooks
.ipynb_checkpoints/

# Project artifacts
wandb/
checkpoints/
data/
runs/
*.npz
*.tfrecord
*.pkl

# OS / editor
.DS_Store
.idea/
.vscode/
*.swp
.env
